# MySQL credentials
MYSQL_ROOT_PASSWORD=Ragnar
MYSQL_USER=librarian
MYSQL_PASSWORD=Ragnar

# Database URLs
SPRING_DATASOURCE_URL_BOOK=jdbc:mysql://mysql-db:3306/book_service_db
SPRING_DATASOURCE_URL_MEMBER=jdbc:mysql://mysql-db:3306/member_service_db
SPRING_DATASOURCE_URL_LOAN=jdbc:mysql://mysql-db:3306/loan_service_db

# API Gateway token
API_GATEWAY_TOKEN=change-me-token
